<h3><%= drinkInfo.drinks[0].strDrink %></h3>
<img
      src="<%= drinkInfo.drinks[0].strDrinkThumb %>"
      alt="image of <%= drinkInfo.drinks[0].strDrink %>"
      style="height: 200px; width: auto"
    />
<br>
<h4>Ingredients</h4>
<ul>
    <% drinkIngredient.forEach(eachIng => { %>
       <% if (eachIng !== null) { %>
        <li><%= eachIng %> </li>
        <% } %> 
    <% }) %> 
</ul>
<p>Instructions</p>
<p><%= drinkInfo.drinks[0].strInstructions %> </p>
    <br>
    <p><%= drinkInfo.drinks[0].strDrink %>TEST TEST TEST TEST TEST </p>
    <form action="/faves" method="POST">
      <input type="hidden" name="title" value="<%= drinkInfo.drinks[0].strDrink %>" />
      <input type="submit" value="Add to Favorites" />
    </form>
  </div>
</div>
