<h3><%= drinkInfo.drinks[0].strDrink %></h3>
<img
      src="<%= drinkInfo.drinks[0].strDrinkThumb %>"
      alt="image of <%= drinkInfo.drinks[0].strDrink %>"
      style="height: 200px; width: auto"
    />
<br>
<h4>Ingredients</h4>
<ul>
    <% drinkIngredient.forEach(eachIng => { %>
       <% if (eachIng !== null) { %>
        <li><%= eachIng %> </li>
        <% } %> 
    <% }) %> 
</ul>
<ul>
    <% drinkInstructions.forEach(eachDir => { %>
       <% if (eachDir !== null) { %>
        <li><%= eachDir %> </li>
        <% } %> 
    <% }) %> 
  </ul>
<h4>Instructions</h4>
<p><%= drinkInfo.drinks[0].strInstructions %> </p>
    <br>
<p>Your Notes:</p>
  </div>
</div>