<h1>Favorite Drinks</h1>

<% foundFaves.forEach(function(fave){ %>
<ul>
  <li>
    <a href="/drinks/name/<%= fave.dataValues.name %> "
      ><%= fave.dataValues.name %></a>
  </li>
</ul>
  <% if (foundNotes.length === 1) { %> 
    <% foundNotes.forEach(eachNote => { %>
      
      <% if (eachNote.faveId === fave.id) { %> 
    <p><%= eachNote.dataValues.content %></p>
    <form method="POST" action="/faves/<%=eachNote.dataValues.id %>?_method=PUT">
      <input type="text" name="update" id="update">
      <button class="btn btn-success">Update</button>
    </form>

    <form action="/notes" method="POST">
      <input type="text" name="note" id="note" />
      <input type="hidden" name="drinkId" value="<%= fave.dataValues.id %>" />
    </form>
    <% } %> 
    <% }) %>
  <% } %> 
<div class="btn-group">
  <form method="POST" action="/faves/<%=fave.dataValues.id %>?_method=DELETE">
    <button class="btn btn-danger">Delete</button>
  </form>
  <form>
    <button class="btn btn-warning">Remove Note</button>
  </form>
</div>
<% }) %>
