<div class="container">
  <div class="row">
    <h3><%= drinkInfo.drinks[0].strDrink %></h3>
    <img
      src="<%= drinkInfo.drinks[0].strDrinkThumb %>"
      alt="image of <%= drinkInfo.drinks[0].strDrink %>"
      style="height: 200px; width: auto"
    />
    <br />
    <h4>Ingredients</h4>
  </div>
  <div class="row">
    <div class="col">
      <ul class="no-bullets">
        <% drinkInstructions.forEach(eachDir => { %> <% if (eachDir !== null) {
        %>
        <li><%= eachDir %></li>
        <% } %> <% }) %>
      </ul>
    </div>
    <div class="col">
      <ul class="no-bullets">
        <% drinkIngredient.forEach(eachIng => { %> <% if (eachIng !== null) { %>
        <li><%= eachIng %></li>
        <% } %> <% }) %>
      </ul>
    </div>
  </div>
  <div class="row">
    <h4>Instructions</h4>
    <p><%= drinkInfo.drinks[0].strInstructions %></p>
    <br />
    <h4>Notes:</h4>
    <% if (allNotes.length === 1) { %> 
      <% allNotes.forEach(eachNote => { %>
        <p><%= eachNote.dataValues.content%></p>
        <form method="POST" action="/faves/<%=eachNote.dataValues.id %>?_method=PUT">
          <input type="text" name="update" id="update">
          <button class="btn btn-success">Update</button>
        </form>
        <form method="POST" action="/notes/<%=eachNote.dataValues.id %>?_method=DELETE">
        <button class="btn btn-danger">Delete</button>
      </form>
      <% }) %> 
    <% } else { %>
      <form action="/notes" method="POST">
        <input type="text" name="note" id="note" />
        <input type="hidden" name="drinkId" value="<%= drinkId %>" />
        <button class="btn btn-secondary" type="submit">Submit</button>
      </form>
      <% } %>
    </div>
  </div>
