<div class="container">
  <div class="row">
    <h1>Results</h1>

    <ul class="no-bullets">
      <% results.drinks.forEach(function(drinks) {%>
      <li>
        <a href="/drinks/<%= drinks.idDrink %>"> <%= drinks.strDrink %> </a>
      </li>
      <a href="/drinks/<%= drinks.idDrink %>">
        <img
          src="<%= drinks.strDrinkThumb %>"
          alt="<%= drinks.strDrink  %>"
          style="height: 125px; width: auto"
        />
      </a>
      <br />
      <br />
      <br />
      <% }); %>
    </ul>
  </div>
</div>
